body {
    font-family: 'Helvetica', sans-serif;
  }

  .start_button {
    display: inline-block;
    width: 80%;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
  }
  
  .employ_start_button {
    display: inline-block;
    width: 80%;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
  }

  .found_start_button {
    display: inline-block;
    width: 80%;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
  }

  /* ホバー時のスタイル変化 */
  .start_button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
  .form-container {
    width: 500px;
    margin: 0 auto;
  }
  input[type=text], input[type=date] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .radio-option {
    text-align: left; /* 左揃えにする */
    display: block;
    margin-left: 10px; /* ラジオボタンとテキストの間隔 */
  }

  .custom-radio {
      /* ラジオボタンのスタイル */
      width: 20px; /* 幅を適宜調整してください */
      height: 20px; /* 高さを適宜調整してください */
      margin-right: 5px;
  }

  .custom-submit {
      /* width: 50%; */
      width: auto; 
      display: block; /* ボタンをブロック要素として表示 */
      margin-top: 20px; /* ボタンの上のスペース */
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .form-wrapper {
     margin: 0 auto; /* 左右のマージンを自動で設定して中央揃え */
   }   

  .option-text {
      /* 選択肢のテキストのスタイル */
      font-size: 18px; /* 適宜調整してください */
  }