<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>支援金対象者確認フロー</title>
    <script>
        function goBack() {
            // 前のページに戻る
            window.history.back();
            return false; // デフォルトのリンク遷移を防ぐ
        }
        function validateForm() {
            var radios = document.getElementsByName('choice');
            var formValid = false;

            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    formValid = true;
                    break;
                }
            }

            if (!formValid) {
                alert('選択してください。');
                event.preventDefault(); // フォームの送信を中止
            }
        }
    </script>
</head>

<body>
    <div class="container-fluid">
        <p><a href="#" onclick="goBack()" class="back-button"> ＜前に戻る</a></p>
    </div>
    <div class="container bg-light p-4 mb-4">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <!-- mx-autoで水平方向のマージンを自動で調整し中央揃え -->
                <div class="form-wrapper">
                    <h3 style="padding-bottom: 20px;">{{ node['text'] }}</h3>
                    <form method="post" action="{{ url_for('get_next_node') }}" onsubmit="return validateForm();">
                        {% for option in node['options'] %}
                            <label class="radio-option">
                            <input type="radio" name="choice" value="{{ option['next_node_id'] }}" class="custom-radio">
                            <span class="option-text">{{ option['text'] }}</span>
                            </label><br>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary custom-submit">次へ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
