<header class="main-header bg-dark" style="position: fixed; top: 0; width: 100%; z-index: 1000; margin-top: 0px;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding-top: 0px;">
        <div class="container">
            <a class="navbar-brand" href="/" style="margin-left: 20px;">所得税額シミュレーション</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">サービス概要</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/send_request">要望を送る</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
