<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>対象判定シミュレーション</title>
</head>
<body>
    {% include 'master.html' %}
    <div class="container_fluid bg-light p-5 mb-5 text-center" style="margin-top: 55px;">
        <h2 style="color: red; font-weight: bold;">{{ node['text'] }}</h2>
        <h5 style="padding-top: 20px;">続いて、就業/起業に関する要件を確認する</h5>
        <a href=/employment_first class="employ_start_button" style = "margin-top: 30px;">②就業に関する要件をシミュレーション</a><br>
        <a href=/foundation_first class="found_start_button" style = "margin-top: 30px;">③起業に関する要件をシミュレーション</a><br>
            ※富山県内で起業している場合のみ③を選択
    </div>
    <div class="container_fluid bg-white p-1 mb-1 text-center">
        <p><strong>※支援金の対象となるには、①移住等に関する要件 と合わせて<br>
             ②就業に関する要件 もしくは ③起業に関する要件を満たしている必要があります。</strong></p>
    </div>
</html>
